*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.blog{
    background-color: rgba(0, 0, 0, 0.7);
    width: 1000px;
    height: 1500px;
    max-height: 5000px;
    margin-left: 5%;
    margin-right: 1%;
    border-radius: 12px;
}
#post{
    background-color: rgb(60, 61, 61);
    width: 350px;
    height: 1250px;
    border-radius: 12px;
}

.background{
    margin-top: 5%;
    display: flex;
}